body[data-theme="light"] {
    @import '../src/scss/light-slider.scss';
 
    .slider-tab {
       background-color: #D7CAAA;
    }

    .social-links-big {
        margin-top: 50px;
        font-size: 200%;
        color:#343333;
    }

     .social-links-big:visited {
         color:#343333;
   }

     .social-links-big:hover{
         color:#343333a6;
   }
}