body[data-theme="light"] {
    @import '../src/scss/light-slider.scss';
 
    .slider-tab {
       background-color: #D7CAAA;
    }

    .social-links-big {
        margin-top: 50px;
        font-size: 200%;
        color:#343333;
    }

     .social-links-big:visited {
        opacity:70%;
     }  

     .social-links-big:hover,
     .social-links-big:focus {
        opacity:70%;
     }
}